<% provide(:title, "Dashboard") %>
<div id="content_main">
	<div class="paper_wrap">
		<div class="paper">

			<h3>My Dashboard</h3>
			<p>Find me at app/views/dashboard/index.html.erb</p>


		</div>
	</div>
</div>

