<h2>Welcome to AmateurMorpheus</h2>
<p>This is the home page. You can't do anything here.</p>
<p><br></br></p>
<div id="circuschaser">
	<p>Visit <%= link_to "CircusCHASER.com", "http://circuschaser.com" %> if you're bored with this.</p>
</div>
