<!-- Piece SHOW -->

<p>Information about
	<%= @piece.title %> by
	<%= @piece.composer %>
</p>

<table>
	<tr>
		<th>Album</th>
		<th>Genre</th>
	</tr>
	<tr>
		<td><%= @piece.album %></td>
		<td><%= @piece.genre %></td>
	</tr>

</table>
