<% provide(:title, "My Music") %>
<div id="content_main">
	<div class="paper_wrap">
		<div class="paper">

			<h1>My Music List</h1>

<!-- missing begin -->

<!-- temp LIST -->
			<div id="music_list">
				<ul>
					<li>Song Title here</li>
					<li>Another Song</li>
					<li>Yet Another Empty Song</li>
				</ul>
			</div>
<!-- missing end -->

		</div>
	</div>
</div>
<div id="sidebar">
	<%= link_to "Add a new piece", "#", :class => "button" %><br/>
</div>
